img{
    display: block;
    border: 3px solid #000;
    margin: auto;
}

p{
    align-items: center;
    text-align: center;
    margin: 5%;
    font-size: 1.625rem;
    margin: auto;
    margin-bottom: 5%;
}
h1{
    text-align: center;
}

div{
    text-align: center;
    
}
a{
    text-decoration-line: none;
    color: blue;
}